<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454840246304-6ibc7h42r8ldsgdfismqns0nqb2is6mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454840246304-6ibc7h42r8ldsgdfismqns0nqb2is6mr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>454840246304-pfi8fsnoav8j60q4spv7p85tbkl39ev9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKxmOqkFF9R-zCjqvYhZUjkOBtEp5b05w</string>
	<key>GCM_SENDER_ID</key>
	<string>454840246304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>app-trewa</string>
	<key>STORAGE_BUCKET</key>
	<string>app-trewa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454840246304:ios:f20fea48976035c54f5c45</string>
	<key>DATABASE_URL</key>
	<string>https://app-trewa-default-rtdb.firebaseio.com</string>
</dict>
</plist>